@charset "UTF-8";
#title {
	color:pink;
}
.c1 {
	width: 200px;
	height: 200px;
}

.c1_1{
	background-color:beige;
	margin: 100px auto;
		overflow: hidden;
}

.c1_2{
	background-color:gray;
	height: 100px;
	margin:0 auto;

}

.cs1{
	background-color:purple;
	margin-top:100px;
}

.c2{
	width : 100px;
	height : 100px;
	background-color: pink;
	margin-left: 50px;
	margin-top:50px;
}